[submodule "agent"]
	path = agent
	url = https://github.com/open-falcon/agent.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/open-falcon/dashboard.git
[submodule "links"]
	path = links
	url = https://github.com/open-falcon/links.git
[submodule "alarm"]
	path = alarm
	url = https://github.com/open-falcon/alarm.git
[submodule "sender"]
	path = sender
	url = https://github.com/open-falcon/sender.git
[submodule "judge"]
	path = judge
	url = https://github.com/open-falcon/judge.git
[submodule "hbs"]
	path = hbs
	url = https://github.com/open-falcon/hbs.git
[submodule "portal"]
	path = portal
	url = https://github.com/open-falcon/portal.git
[submodule "query"]
	path = query
	url = https://github.com/open-falcon/query.git
[submodule "transfer"]
	path = transfer
	url = https://github.com/open-falcon/transfer.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/open-falcon/scripts.git
[submodule "common"]
	path = common
	url = https://github.com/open-falcon/common.git
[submodule "task"]
	path = task
	url = https://github.com/open-falcon/task.git
[submodule "fe"]
	path = fe
	url = https://github.com/open-falcon/fe.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/open-falcon/gateway.git
[submodule "graph"]
	path = graph
	url = https://github.com/open-falcon/graph.git
